html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff8f3;
    color: #4e2926;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 8%;
}

header h2 {
    color: #de668c;
    font-size: 26px;
}

nav a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color:#4e2926;
}

nav a {
    text-decoration: none;
    color:#4e2926;
    margin-left: 25px;
    font-weight: 500;
}

nav a:hover {
    color: #de668c;
    transition: 0.3s;
}

#inicio {
    min-height: 80vh;
    display:flex;
    align-items: center;
    padding: 60px 8%;
    justify-content: space-between;
    gap: 50px;
    padding: 60px 8%;
}

.inicio-texto {
    max-width: 600px;;
}

.inicio-texto h1 {
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.inicio-texto h1 span {
    color: #de668c;
}

.inicio-texto p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.botao {
    display: inline-block;
    background-color:#de668c;
    color: white;

    padding: 12px 25px;
    border-radius:25px;

    text-decoration:none;
    font-weight: 600;

    transition: 0.3;
}

.botao:hover {
    background: color #f5afc1;
}

.inicio-imagem {
    width: 450px;
}

.inicio-imagem img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 10px 30px #00000020
}

#cardapio {
    padding: 80px 8%;
    text-align: center;
    background-color: white;
}

#cardapio h2 {
    font-size: 36px;
    color:#de668c;
    margin-bottom:10px;
}

#cardapio p {
    margin-bottom: 40px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.produto {
    width: 300px;
    background-color: #fff8f3;
    border-radius: 20px;
    overflow: hidden;
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.produto-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.produto-info h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.produto-info p {
    font-size: 14px;
    margin-bottom: 15px;
}

.produto-info strong {
    color:#de668c;
    font-size: 18px;
    margin-top:auto;
}

.produto {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff8f3;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px #00000015;
    transition: 0.3s;
}

.produto:hover {
    transform: translateY(-5px);
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 80px 8%;
}

.sobre-imagem {
    width: 350px;
}

.sobre-imagem img {
    width: 100%;
    border-radius: 25px;
}

.sobre-texto {
    max-width: 500px;
}

.sobre-texto h2 {
    font-size: 36px;
    color:#de668c;
    margin-bottom:20px;
}

.sobre-texto p {
    line-height: 1.7;
}

.diferenciais {
    margin-top: 25px;
}

.diferenciais p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-weight: 500;
}

.diferenciais span {
    color:#de668c;
    font-size:24px;
}

#contato {
    background-color: #f9dce6;
    text-align: center;
    padding: 80px 8%;
}

#contato h2 {
    font-size: 36px;
    color: #4e2926;
    margin-bottom: 15px;
}

#contato p {
    max-width: 500px;
    margin: 0 auto 30px;
    line-height: 1.7;
}

.botao-contato {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background-color: #de668c;
    color: white;

    padding: 14px 28px;
    border-radius: 30px;

    text-decoration:none;
    font-weight: 600;

    transition: 0.3;
}

.botao-contato:hover {
    background-color: #c94d76
}

footer {
    background-color:#4e2926;
    color: white;
    padding: 40px 8% 20px;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.footer-conteudo h2 {
    color: #f5afc1;
    font-size: 26px;
}

.footer-conteudo p {
    font-size: 14px;
}

.footer-conteudo span {
    color:#f5afc1;
    font-size: 40px;
}

.copyrhight {
    border-top: 1px solid #80615f;
    padding-top:20px;
    text-align: center;
    font-size: 12px;
}

.contato-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.whatsapp {
    background-color: #25d366;
}

.whatsapp:hover {
    background-color: #1ebe5d;
}

/* RESPONSIVIDADE PARA CELULARES */

@media (max-width: 768px) {

    header {
        flex-direction: coilumn;
        gap: 20px;
    }

    nav {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 15px;
    }

    nav a {
        margin-left: 0;
        font-size: 14px;
    }

    #inicio {
        flex-direction: column;
        text-align: center;
        padding: 50px 6%
    }

    .inicio-texto h1 {
        font-size: 34px;
    }

    .inicio-imagem {
        width: 100%;
        max-width: 450px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 100%;
        max-width: 350px; 
    }

    #sobre {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .sobre-imagem {
        width: 100%;
        max-width: 300px;
    }

    .diferenciais p {
        justify-content: center;
    }

    .contato-botoes {
        flex-direction: column;
        align-items: center;
    }

    #cardapio h2,
    #contato h2,
    .sobre-texto h2 {
        font-size: 30px;
    }


}